{% extends "layout.html" %}

{% block content %}

<section id="about" class="page space">
	<div class="container text-center">
		<div class="heading">
			<h2>Who we are</h2>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute
				irure dolor.</p>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 col-xs-12 teammate" data-animation="fadeInLeft" data-delay="600">
				<div class="profile-photo">
					<img class="img-responsive" src="static/assets/img/team/1.jpg" alt="">
				</div>
				<div class="bio">
					<h4>John Doe</h4>
					<h5>Web Developer</h5>

					<ul class="list-inline">
						<li>
							<a href="http://www.facebook.com" title="Facebook">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="http://www.twitter.com" title="Twitter">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="http://www.linkedin.com" title="LinkedIn">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="http://www.github.com" title="GitHub">
								<i class="fa fa-github"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 teammate animated hiding" data-animation="fadeInUp" data-delay="300">
				<div class="profile-photo">
					<img class="img-responsive" src="static/assets/img/team/2.jpg" alt="">
				</div>
				<div class="bio">
					<h4>Clarinda Gratia</h4>
					<h5>Designer</h5>

					<ul class="list-inline">
						<li>
							<a href="http://www.dribbble.com" title="Dribbble">
								<i class="fa fa-dribbble"></i>
							</a>
						</li>
						<li>
							<a href="http://www.pinterest.com" title="Pinterest">
								<i class="fa fa-pinterest"></i>
							</a>
						</li>
						<li>
							<a href="http://www.instagram.com" title="Instagram">
								<i class="fa fa-instagram"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 teammate animated hiding" data-animation="fadeInUp" data-delay="300">
				<div class="profile-photo">
					<img class="img-responsive" src="static/assets/img/team/3.jpg" alt="">
				</div>
				<div class="bio">
					<h4>Mandeep Eimear</h4>
					<h5>Mobile Developer</h5>

					<ul class="list-inline">
						<li>
							<a href="http://www.twitter.com" title="Twitter">
								<i class="fa fa-twitter"></i>
							</a>
						</li>
						<li>
							<a href="http://developer.android.com/index.html" title="Android Developers">
								<i class="fa fa-android"></i>
							</a>
						</li>
						<li>
							<a href="http://www.stackoverflow.com" title="Stack Overflow">
								<i class="fa fa-stack-overflow"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-md-3 col-sm-6 col-xs-12 teammate animated hiding" data-animation="fadeInRight" data-delay="600">
				<div class="profile-photo">
					<img class="img-responsive" src="static/assets/img/team/4.jpg" alt="">
				</div>
				<div class="bio">
					<h4>Wigstan Fergus</h4>
					<h5>QA Engineer</h5>

					<ul class="list-inline">
						<li>
							<a href="http://www.plus.google.com" title="Google+">
								<i class="fa fa-google-plus"></i>
							</a>
						</li>
						<li>
							<a href="http://www.trello.com" title="Trello">
								<i class="fa fa-trello"></i>
							</a>
						</li>
						<li>
							<a href="mailto:john.doe@mail.com" title="Email">
								<i class="fa fa-envelope"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="twitter text-center">
		<div class="animated hiding" data-animation="fadeIn">
			<i class="fa fa-twitter fa-3x"></i>
			<div id="feed"></div>
		</div>
	</div>
</section>
<section id="priceTable" class="page space">
	<div class="container text-center">
		<div class="heading">
			<h2>Our Efforts</h2>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat duis aute
				irure dolor.</p>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<div class="panel panel-default text-center">
					<div class="panel-heading">
						<h3>Basic</h3>
					</div>
					<div class="panel-body">
						<h3 class="panel-title price">$9<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
					</div>
					<ul class="list-group">
						<li class="list-group-item">5 Projects</li>
						<li class="list-group-item">5 GB of Storage</li>
						<li class="list-group-item">Up to 100 Users</li>
						<li class="list-group-item">10 GB Bandwidth</li>
						<li class="list-group-item">Security Suite</li>
						<li class="list-group-item"><a class="btn btn-default">Sign Up Now!</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-default text-center">
					<div class="panel-heading">
						<h3>Plus</h3>
					</div>
					<div class="panel-body">
						<h3 class="panel-title price">$19<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
					</div>
					<ul class="list-group">
						<li class="list-group-item">10 Projects</li>
						<li class="list-group-item">10 GB of Storage</li>
						<li class="list-group-item">Up to 250 Users</li>
						<li class="list-group-item">25 GB Bandwidth</li>
						<li class="list-group-item">Security Suite</li>
						<li class="list-group-item"><a class="btn btn-default">Sign Up Now!</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-danger text-center">
					<div class="panel-heading">
						<h3>Premium</h3>
					</div>
					<div class="panel-body">
						<h3 class="panel-title price">$29<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
					</div>
					<ul class="list-group">
						<li class="list-group-item">Unlimited</li>
						<li class="list-group-item">50 GB of Storage</li>
						<li class="list-group-item">Up to 1000 Users</li>
						<li class="list-group-item">100 GB Bandwidth</li>
						<li class="list-group-item">Security Suite</li>
						<li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="panel panel-default text-center">
					<div class="panel-heading">
						<h3>Ultimate</h3>
					</div>
					<div class="panel-body">
						<h3 class="panel-title price">$49<span class="price-cents">99</span><span class="price-month">mo.</span></h3>
					</div>
					<ul class="list-group">
						<li class="list-group-item">Unlimited</li>
						<li class="list-group-item">150 GB of Storage</li>
						<li class="list-group-item">Unlimited</li>
						<li class="list-group-item">500 GB Bandwidth</li>
						<li class="list-group-item">Security Suite</li>
						<li class="list-group-item"><a class="btn btn-default">Sign Up Now!</a></li>
					</ul>
				</div>
			</div>

		</div>
	</div>
</section>

{% endblock %}