{% extends "layout.html" %}

{% block content %}
<section id="about" class="page">
	<div class="container">
		<div class="content cover text-center">
			<div class="row">
			</div>
			<div class="banner-content">
				<div class="heroText">
					<h2><span> Living Skies Aviation </span><br>
					</h2>
					<h3><strong>Aircraft maintainence on the praries</strong></h3>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="page space">
	<div class="container text-center photo-area">
		<div class="heading">
			<h2>Who we are</h2>

			<p>I have over 30 year of experience working with small and medium sized aircraft in Southern Saskatchewan.</p>
		</div>
		<div class="row portrait">
			<div class="col-lg-12 teammate" data-animation="fadeInLeft" data-delay="600">
				<div class="profile-photo">
					<img class="img-responsive" src="static/assets/img/team/1.jpeg" alt="">
				</div>
				<div class="bio">
					<h4>Barry Dielschnieder</h4>
					<h5>Aircraft Engineer</h5>

					<ul class="list-inline">
						<li>
							<a href="https://www.facebook.com/barry.dielschneider" title="Facebook">
								<i class="fa fa-facebook"></i>
							</a>
						</li>
						<li>
							<a href="mailto:barry.dielschnieder@gmail.com" title="Email">
								<i class="fa fa-envelope"></i>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center">
		<div class="animated hiding" data-animation="fadeIn">
			<a href="/contact">
				<i class="fa fa-plane fa-3x"></i>
				<div id="feed"></div>
				Contact Us
			</a>
		</div>
	</div>
</section>


{% endblock %}