{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
<!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
{% if messages %}
{% for category, message in messages %}
<div class="alert alert-success alert-dismissible contact-alert" role="alert">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<!-- <strong>Title</strong> --> {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% block main %}
<section id="contact" class="content-section form contact light space">
	<div class="container">
		<div class="content cover text-center">
			<div class="heading">
				<h2>Getting in touch</h2>

				<h4>Fill out the form and we will return your message<br /><br /></h4>
			</div>
			<div class="row">

				<div class="col-md-offset-2 col-md-8 anim fadeInLeft animated" style="visibility: visible;">

					<form name="sentMessage" method="POST" action="/contact" id="contactForm">
						<h3>Contact Form</h3>
						<div class="control-group">
							<div class="controls">
								<input type="text" class="form-control" placeholder="Full Name" id="name" required data-validation-required-message="Please enter your name" name="name" />
								<p class="help-block"></p>
							</div>
						</div>
						<div class="control-group">
							<div class="controls">
								<input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Please enter your email" name="email" />
							</div>
						</div>

						<div class="control-group">
							<div class="controls">
								<textarea rows="10" cols="100" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter your message" minlength="5" data-validation-minlength-message="Min 5 characters" maxlength="999"
								 style="resize:none" name="message"></textarea>
							</div>
						</div>
						<div id="success"> </div> <!-- For success/fail messages -->
						<button type="submit" class="btn btn-primary pull-right">Send</button><br />
					</form>
				</div>
			</div>

		</div><!-- .container -->

		<span id="message_sent"><i class="fa-check fa"></i></span><!-- jQuery display of giant checkmark -->

</section>
{% endblock %}
{% endblock %}