{% extends "layout.html" %}

{% block content %}
<section id="home" class="page">
	<div class="container">
		<div class="content cover text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="animated hiding" data-animation="fadeInDown" data-delay="300">We Are Merlin</h1>
					<a class="btn btn-blue nav-external animated hiding" data-animation="fadeIn" data-delay="900" href="#services">Find more</a>
					<!-- <h3 class="animated hiding" data-animation="fadeIn" data-delay="600">We Have Made A Lot Of Friends.</h3> -->
				</div>
			</div>
			<div class="banner-content">
				<div class="heroText">
					<h2><span> Living Skies Aviation </span><br>
					</h2>
					<h3><strong>Aircraft maintainence on the praries</strong></h3>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="services" class="page space">
	<div class="container text-center">
		<div class="heading">
			<h2>Our Services</h2>

			<p>Servicing all types major types of aircraft. </p>
		</div>
		<div class="row services-list">
			<div class="col-sm-6 col-md-3 text-center service animated fadeInUp visible" data-animation="fadeInUp">
				<div class="service-icon">
					<img src="static/assets/img/index/1.jpg" alt="" />
				</div>
				<h4 class="color-white">Transport Canada Inspection</h4>
				<p>Government licenced engineer.</p>
			</div><!-- END COLUMN 3 -->
			<div class="col-sm-6 col-md-3 text-center service animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="200">
				<div class="service-icon">
					<img src="static/assets/img/index/2.jpg"" alt="" />
				</div>
				<h4 class=" color-white">Servicing</h4>
					<p>General maintainence and replacement of expired parts.</p>
				</div><!-- END COLUMN 3 -->
				<div class="col-sm-6 col-md-3 text-center service animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="400">
					<div class="service-icon">
						<img src="static/assets/img/index/3.jpg" alt="" />
					</div>
					<h4 class="color-white">Repairs</h4>
					<p>Repairs done to engines, fuselages, landing gear and avionics.</p>
				</div><!-- END COLUMN 3 -->
				<div class="col-sm-6 col-md-3 text-center service animated fadeInUp visible" data-animation="fadeInUp" data-animation-delay="600">
					<div class="service-icon">
						<img src="static/assets/img/index/4.jpg" alt="" />
					</div>
					<h4 class="color-white">Other stuff</h4>
					<p>This is where we write about that stuff.</p>
				</div><!-- END COLUMN 3 -->
			</div>
		</div>
</section>

{% endblock %}