{% extends "layout.html" %}
{% block content %}

<section id="work" class="page space">
	<div class="container text-center">
		<div class="heading">
			<h2>Our Work</h2>

			<p>Full service for all small aircraft from service, to inspections, to rebuilds.</p>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div id="portfolio">
					<ul class="filters list-inline">
						<li>
							<a class="active" data-filter="*" href="#">All</a>
						</li>
						<li>
							<a data-filter=".engine" href="#">Engine</a>
						</li>
						<li>
							<a data-filter=".structural" href="#"> Structural</a>
						</li>
						<li>
							<a data-filter=".rebuild" href="#">Rebuilds</a>
						</li>
					</ul>
					<ul class="items list-unstyled clearfix animated hiding" data-animation="fadeInRight">
						<li class="item work-li structural">
							<a href="static/assets/img/work/1.jpg" class="fancybox">
								hello
								<img src="static/assets/img/work/1.jpg" alt="">
								<div class="overlay">
									<span>Body and Structural Work</span>
								</div>
							</a>
						</li>
						<li class="item work-li engine">
							<a href="static/assets/img/work/2.jpg" class="fancybox">
								<img src="static/assets/img/work/2.jpg" alt="">
								<div class="overlay">
									<span>Full Mechanical Expertise</span>
								</div>
							</a>
						</li>
						<li class="item work-li engine">
							<a href="static/assets/img/work/3.jpg" class="fancybox">
								<img src="static/assets/img/work/3.jpg" alt="">
								<div class="overlay">
									<span>Transport Canada Annual Inspections</span>
								</div>
							</a>
						</li>
						<li class="item work-li rebuild">
							<a href="static/assets/img/work/4.jpg" class="fancybox">
								<img src="static/assets/img/work/4.jpg" alt="">
								<div class="overlay">
									<span>Rebuilds and Home-builts</span>
								</div>
							</a>
						</li>
						<li class="item work-li engine">
							<a href="static/assets/img/work/5.jpg" class="fancybox">
								<img src="static/assets/img/work/5.jpg" alt="">
								<div class="overlay">
									<span>Complete Engine Rebuilds</span>
								</div>
							</a>
						</li>
						<li class="item work-li web rebuild">
							<a href="static/assets/img/work/6.jpg" class="fancybox">
								<img src="static/assets/img/work/6.jpg" alt="">
								<div class="overlay">
									<span>Classic Restorations</span>
								</div>
							</a>
						</li>
						<li class="item work-li">
							<a href="static/assets/img/work/7.jpg" class="fancybox">
								<img src="static/assets/img/work/7.jpg" alt="">
								<div class="overlay">
									<span>Nullam a ullamcorper diam</span>
								</div>
							</a>
						</li>
						<li class="item work-li web">
							<a href="static/assets/img/work/8.jpg" class="fancybox">
								<img src="static/assets/img/work/8.jpg" alt="">
								<div class="overlay">
									<span>Etiam consequat</span>
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}